@mixin xxl {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1450px) {
    @content;
  }
}

@mixin l {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin m {
  @media (max-width: 1250px) {
    @content;
  }
}

@mixin s {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin xxs {
  @media (max-width: 475px) {
    @content;
  }
}