$color-primary: #a46fe2;
$color-secondary: #0B174C;
$color-primary-accent: #8A53CB;
$color-secondary: #0B174C;
$color-secondary-light-1: #1f2a5a;
$color-secondary-light-2: #545d82;
$color-dark-bright: rgba(0,0,0,.1);
$color-dark-1: #222;
$color-dark-2: #8e8e8e;
$color-dark-3: #303A66;
$color-dark-4: #5D6589;
$color-dark-5: #c5c7e642;
$color-dark-6: #070F34;
$color-dark-7: #EBEDF2;
$color-light-1: #fbfbfb;
$color-light-2: #f2f7fa;
$color-light-3: #f4eaff;
$color-light-4: #f6efff;
$color-light-5: rgba(255, 255, 255, 0.702);
$color-light-6: rgb(171,193,207);
$color-light-7: #FDFBFF;
$color-light-8: #f4f4f9;
$color-grey-1: #8E8E8E;
$color-grey-2: #666;
$color-grey-3: #E0E0E0;
$color-grey-4: #ccc;
$color-grey-5: rgba(188, 179, 198, 0.68);
$color-grey-6: #777;
$color-white: #fff;
$color-orange: #FD8F82;
$color-error: #B73B43;
$color-orange-light: #FDEBE9;
$color-white: #fff;

$border-primary: .1rem solid $color-light-3;
$border-grey: .1rem solid $color-grey-3;
$border-thin: .1rem solid $color-light-4;
$border-grey-2: .1rem solid $color-grey-4;

$transition-time-short: .15s;
$transition-time-medium: .5s;

$z-default-below: 0;
$z-default: 1;
$z-default-above: 2;

$z-low-below: 20;
$z-low: 30;
$z-low-above: 40;

$z-normal-below: 100;
$z-normal: 200;
$z-normal-above: 300;

$z-wrapper-below: 400;
$z-wrapper: 500;
$z-wrapper-above: 600;

$z-modal-below: 700;
$z-modal: 800;
$z-modal-above: 900;

$box-shadow-primary: 0 .4rem .9rem -.8rem $color-grey-2;
$box-shadow-secondary: 0 1.2rem 1.5rem -2rem $color-dark-1;
$box-shadow-tertiary: 0 .5rem 1.1rem $color-dark-bright;
$box-shadow-blog: 0 5rem 10rem $color-dark-5;

$default-indent: 4rem;
$big-indent: 10rem;
